* {
	font-family: Arial;
	}
	
body {
	overflow: hidden;
	text-align: center;
	}

a {
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #404040;
	&:hover {
		text-decoration: underline;
		}
	}
	
center {
	display: block;
	text-align: -webkit-center;
	}
	
